.background-container
{
    background-color: #dadada;
    text-align: center;
    border: 2px solid black;
  border-radius: 12px;
  padding: 10px;

}

.text
{
    color: red;
    font-style: italic;
}
.p
{
    color: black;
    font-size: large;
}