<div class="custom-background">
<h1>Update Account</h1>
<div class="col mb-3">   
<form (ngSubmit)="onSubmit()">
        <div class="account">
        <label>Account Number : </label>
        <div class="col-sm-10">
        <input class="form-control" type="text" name="accountNumber" [(ngModel)]="account.accountNumber" placeholder="Account Number" aria-label="default input example"><br>
        </div>
        <label>Account Type : </label>
        <div class="col-sm-10">
        <input class="form-control" type="text" name="accountType" [(ngModel)]="account.accountType" placeholder="Account Type" aria-label="default input example"><br>
        </div>
        <label>Account Balance : </label>
        <div class="col-sm-10">
        <input class="form-control" type="text" name="accountBalance" [(ngModel)]="account.accountBalance" placeholder="Account Balance" aria-label="default input example"><br>
        </div>
        <label>Account Status : </label>
        <div class="col-sm-10">
        <input class="form-control" type="text" name="accountStatus" [(ngModel)]="account.accountStatus" placeholder="Account Status" aria-label="default input example"><br>
        </div>
        <label>Customer Id : </label>
        <div class="col-sm-10">
        <input class="form-control" type="text" name="customerId" [(ngModel)]="account.customer.customerId" placeholder="Customer Id" aria-label="default input example"><br>
        </div>
        <button type="submit" class="btn btn-success">Submit</button>
        </div>
    </form>
</div>
</div>
