

.container {
  background-color: lightblue; 
  padding: 20px;
  border-radius: 5px;
  
}

h2 {
  color: #007bff; 
}

.form-group {
  margin-bottom: 20px;
}

.btn {
  cursor: pointer;
}

.alert {
  margin-top: 20px;
}
