<!-- Add this link in your HTML file to include Bootstrap -->
<div class="container mt-5">
  <h2>Transfer</h2>
  <div *ngIf="showNotification" class="mt-3 alert alert-success">
    {{ notificationMessage }}
  </div>
  <form>
      <label for="fromAccountId">From Account ID:</label>
      <input type="text" class="form-control form-control-sm" id="fromAccountId" name="fromAccountId" [(ngModel)]="fromAccountId" placeholder="Enter From Account ID" autocomplete="off"><br>

      <label for="toAccountId">To Account ID:</label>
      <input type="text" class="form-control form-control-sm" id="toAccountId" name="toAccountId" [(ngModel)]="toAccountId" placeholder="Enter To Account ID" autocomplete="off"><br>

      <label for="depositAmount">Amount</label>
      <input type="text" class="form-control form-control-sm" id="depositAmount" name="depositAmount" [(ngModel)]="depositAmount" placeholder="Enter Amount" autocomplete="off"><br>

    <button type="button" class="btn btn-success" (click)="deposit()">Deposit</button>
    <br>
    <br>
    
      <label for="fromAccountId">From Account ID:</label>
      <input type="text" class="form-control form-control-sm" id="fromAccountId" name="fromAccountId" [(ngModel)]="fromAccountId" placeholder="Enter From Account ID" autocomplete="off"><br>
    

    
      <label for="toAccountId">To Account ID:</label>
      <input type="text" class="form-control form-control-sm" id="toAccountId" name="toAccountId" [(ngModel)]="toAccountId" placeholder="Enter To Account ID" autocomplete="off"><br>
    

    
      <label for="withdrawAmount">Amount:</label>
      <input type="text"class="form-control form-control-sm" id="withdrawAmount" name="withdrawAmount" [(ngModel)]="withdrawAmount" placeholder="Enter Amount" autocomplete="off"><br>
    

    <button type="button" class="btn btn-danger" (click)="withdraw()">Withdraw</button>
  </form>

  
</div>
