.background-container
{
    background-color: #dadada;
    

    border: 2px solid black;
  border-radius: 12px;
  padding: 5px;

}
.notification {
  background-color: #4CAF50;
  color: white;
  padding: 15px;
  text-align: center;
  border-radius: 5px;
  margin-bottom: 10px;
}