<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#" routerLink="/home">Home
     
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-link active" routerLink="getAllBranchDetails" href="#">Banklist <span class="sr-only">(current)</span></a>
      <a class="nav-link active" routerLink="savebank" href="#">AddBank</a>
      <a class="nav-link active" routerLink="getCustDetails" href="#">Customerlist <span class="sr-only">(current)</span></a>
      <a class="nav-link active" routerLink="saveCustomer" href="#">AddCustomer</a>
      <a class="nav-link active" routerLink="getAllAccount" href="#">Accountlist <span class="sr-only">(current)</span></a>
      <a class="nav-link active" routerLink="saveAccount" href="#">AddAccount</a>
      <a class="nav-link active" routerLink="getalltransaction" href="#">Transactionlist <span class="sr-only">(current)</span></a>
      <a class="nav-link active" routerLink="savetransaction" href="#">AddTransaction</a>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>



