<div class="background-container">
<div class="container mt-4">
  <h2>Customer Profile</h2>
  <form>
  <div class="row mb-3">
    <label for="customerId" class="col-sm-2 col-form-label col-form-label-sm">Customer Id</label>
    <div class="col-sm-5">
      <input type="text" class="form-control form-control-sm" id="customerId" name="customerId" [(ngModel)]="customer.customerId" autocomplete="off" disabled>
    </div>
  </div>
    
  <div class="row mb-3">
    <label for="name" class="col-sm-2 col-form-label col-form-label-sm">Name</label>
    <div class="col-sm-5">
      <input type="text" class="form-control form-control-sm" id="name" name="name" [(ngModel)]="customer.name" autocomplete="off" disabled>
    </div>
  </div>

  <div class="row mb-3">
    <label for="dateofbirth" class="col-sm-2 col-form-label col-form-label-sm">Date of birth</label>
    <div class="col-sm-5">
      <input type="text" class="form-control form-control-sm" id="dateofbirth" name="dateofbirth" [(ngModel)]="customer.dateofbirth" autocomplete="off" disabled>
    </div>
  </div>

  <div class="row mb-3">
    <label for="contact" class="col-sm-2 col-form-label col-form-label-sm">Email Id</label>
    <div class="col-sm-5">
      <input type="text" class="form-control form-control-sm" id="email" name="email" [(ngModel)]="customer.email" autocomplete="off" disabled>
    </div>
  </div>

  <div class="row mb-3">
    <label for="contact" class="col-sm-2 col-form-label col-form-label-sm">Contact</label>
    <div class="col-sm-5">
      <input type="text" class="form-control form-control-sm" id="contact" name="contact" [(ngModel)]="customer.contact" autocomplete="off" disabled>
    </div>
  </div>

  <div class="row mb-3">
    <label for="address" class="col-sm-2 col-form-label col-form-label-sm">Address</label>
    <div class="col-sm-5">
      <input type="text" class="form-control form-control-sm" id="address" name="address" [(ngModel)]="customer.address" autocomplete="off" disabled>
    </div>
  </div>

  <div class="row mb-3">
    <label for="city" class="col-sm-2 col-form-label col-form-label-sm">City</label>
    <div class="col-sm-5">
      <input type="text" class="form-control form-control-sm" id="city" name="city" [(ngModel)]="customer.city" autocomplete="off" disabled>
    </div>
  </div>

  <div class="row mb-3">
    <label for="state" class="col-sm-2 col-form-label col-form-label-sm">State</label>
    <div class="col-sm-5">
      <input type="text" class="form-control form-control-sm" id="state" name="state" [(ngModel)]="customer.state" autocomplete="off" disabled >
    </div>
  </div>

  <div class="row mb-3">
    <label for="pincode" class="col-sm-2 col-form-label col-form-label-sm">Pin Code</label>
    <div class="col-sm-5">
      <input type="text" class="form-control form-control-sm" id="pincode" name="pincode" [(ngModel)]="customer.pincode" autocomplete="off" disabled >
    </div>
  </div>
  </form>
</div>
</div>
